<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datealive.mapper.UserMapper">

    <select id="getUserByName" parameterType="String" resultType="User">
        select * from blog_user
        where username = #{username}
    </select>

    <select id="getUserById" resultType="User">
        select * from blog_user
        where user_id = #{userId}
    </select>
    <!--修改密码-->
    <update id="changePassword">
        update blog_user set password = #{password} where username = #{userName}
    </update>
    <!--注册用户-->
    <insert id="registerUser" parameterType="com.datealive.pojo.User">
        INSERT INTO
            `blog_user`(username, password, nick_name, avatar, introduce, roles, email)
        VALUES (#{username},#{password},#{nick_name},#{avatar},#{introduce},#{roles},#{email})
    </insert>
</mapper>